@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.6s ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::selection{
  background: rgb(0,123,255,0.3);
  color: #fff;
}

.box {
    width: 100%;
    background: #fff;
}

.box .container .collapse {
    display: flex;
    justify-content: space-between;
}

.box .container .collapse ul li a {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.box1 {
    width: 100%;
    height: 91.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0EFEB;
}

.box1 .card {
    border: none;
    background: none;
}

.box1 .card .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 .card .card-title {
    font-size: 60px;
    font-weight: 700;
}

.box1 .card .card-text {
    font-weight: 400;
}

.box1 .card button {
    width: 145px;
    height: 45px;
    padding: 0 8px;
    border: none;
    border-radius: 15px;
    background: #000000;
    color: #fff;
    font-weight: 400;
    transition: 0.6s;
}

.box1 .card button:hover {
    background: transparent;
    border: 1px solid #000000;
    color: #000000;
    transition: 0.6s;
}

.box1 .card button:active {
    background: #000000;
    color: #888;
    transition: -06s;
}

.box2 .card {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.box2 .card .card-title {
    font-weight: 700;
    font-size: 35px;
}

.box3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.box3 .title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.box3 .card {
    border: none;
    background: none;
    padding: 30px;
}

.box3 .card-body {
    font-size: 15px;
    color: #000000;
    text-align: center;
}

.box3 .card-title {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.box3 .card .href{
    color: #000000;
    font-weight: 600;
}

.box4 {
    width: 100%;
    height: 100vh;
    background: rgba(204, 204, 204, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 .card {
    border: none;
    background: none;
}

.box4 .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 .card-title {
    font-size: 45px;
    font-weight: 700;
}

.box4 .card-text {
    font-size: 35px;
    font-weight: 400;
}

.box4 .text {
    font-size: 15px;
    color: #000000;
}

.box5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 .text {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.box5 .card {
    border: none;
    background: none;
    margin: 25px;
    padding: 25px;
}

.box5 .card .color:nth-child(1) {
    background: #21F7EC;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 40%;
}

.box5 .card .color1 {
    background: #33D3BC;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 40%;
}

.box5 .card .color2 {
    background: #18A5C6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 40%;
}

.box5 .card .color3 {
    background: #D38F62;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 40%;
}

.box5 .card .color4 {
    background: #F94C43;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 40%;
}

.box5 .card .color5 {
    background: #D399FF;
    width: 70px;
    height: 70px;
    margin-left: 40%;
    border-radius: 50%;
}

.box5 .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box5 .card .card-title {
    font-size: 30px;
    font-weight: 700;
}

.box6 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6 .text {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.box6 .card {
    border: none;
    background: none;
    text-align: center;
    margin: 20px;
    padding: 25px;
}

.box6 .card .img-fluid {
    width: 285px;
    height: 350px;
    text-align: center;
    margin-left: 10%;
}

.box6 .card-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.box6 .card-text {
    font-size: 15px;
    text-align: center;
}

.box6 .href {
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.box6 .half {
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 723.1%;
    width: 100%;
    height: 50vh;
    background: #F0F0F0;
}

.box7 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7 .card {
    border: none;
    background: none;
}

.box7 .card-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.box7 .card-text {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.box7 form .text {
    display: flex;
    justify-content: space-around;
}

.box7 form .text input {
    width: 155px;
    height: 40px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0 15px;
}

.box7 form .email {
    width: 385px;
    height: 40px;
    margin-left: 7%;
    outline: none;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0 15px;
}

.box7 form button {
    width: 145px;
    height: 45px;
    padding: 0 8px;
    border: none;
    margin-left: 35%;
    border-radius: 15px;
    background: #000000;
    color: #fff;
    font-weight: 400;
    transition: 0.6s;
}

.box7 form button:hover {
    background: transparent;
    border: 1px solid #000000;
    color: #000000;
    transition: 0.6s;
}

.box7 form button:active {
    background: #000000;
    color: #888;
    transition: -06s;
}

.box8 {
    width: 100%;
    height: 50vh;
    background: #000000;
}

.box8 .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px;
}

.box8 .rows {
    margin-top: 40px;
}

.box8 .card-title {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.box8 .card-text {
    font-size: 15px;
    font-style: 400;
    color: #fff;
}